
#include "resource.h"

#include "windows.h"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "wintail.manifest"
IDI_MAINICON            ICON    DISCARDABLE     "wintail.ico"

IDM_MAIN_MENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open",          IDM_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Refresh now",         IDM_REFR
        MENUITEM "&Auto-refresh",        IDM_AREF
        MENUITEM SEPARATOR
        MENUITEM "&Search/Filter(TODO)", IDM_SEFI
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                IDM_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help",                IDM_HELP
        MENUITEM "&About",               IDM_ABOUT
    END
END

IDM_CONTEXT_MENU MENU DISCARDABLE 
BEGIN
    POPUP "Context Menu"
    BEGIN
        MENUITEM "&Open",    IDM_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Refresh",       IDM_REFR
        MENUITEM "&Auto-refresh",  IDM_AREF
        MENUITEM SEPARATOR
        MENUITEM "&Search/Filter(TODO)", IDM_SEFI
        MENUITEM SEPARATOR
        MENUITEM "E&xit",          IDM_EXIT
    END
END


IDD_ABOUT DIALOG DISCARDABLE  22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About WinTail"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT          "Wintail",-1,0,4,220,8
    CTEXT          "The windows GUI tail for CSV files",-1,0,14,220,8
    CTEXT          "(More or less)",-1,0,24,220,8
    DEFPUSHBUTTON "OK",IDOK,90,54,50,14,WS_GROUP
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APPTITLE            "Virtual ListView Sample Application"
END

